---

// IMPORT JSX COMPONENTS
import NewsCarousel from "@/components/home/featured/jsx/index"

// IMPORT ASTRO ATOMS
import HeadingTwo4xlThinCenter from "@/atoms/headings/two/4xl/thin/center/index.astro"

// GET ASTRO PROPS
const {

    title

} = Astro.props

---
<section class="pt-5 pb-20">
    <div class="relative flex py-5 items-center">
        <div class="flex-grow ml-4 border-black border-t-2"></div>
        <div class="mx-6"> 
            <HeadingTwo4xlThinCenter>{ title }</HeadingTwo4xlThinCenter>
        </div>
        <div class="flex-grow mr-4 border-black border-t-2"></div>
    </div>
    <div>
        <NewsCarousel client:load/>
    </div>
</section>
