---

// IMPORT ASTRO COMPONENTS
import News from "@/components/home/featured/news/index.astro"

// IMPORT ASTRO ATOMS
import HeadingTwo from "@/atoms/headings/two/index.astro"

// GET ASTRO PROPS
const {

    description1,
    description2,
    description3,
    description4,
    description5,
    title

} = Astro.props

---

<section class="space-y-4 mb-10">
    <div class="relative flex py-5 items-center">
        <div class="flex-grow ml-4 border-black border-t-2"></div>
        <HeadingTwo>{ title }</HeadingTwo>
        <div class="flex-grow mr-4 border-black border-t-2"></div>
    </div>
    <section class="grid sm:grid-cols-3 md:grid-cols-5">
        <News
            alternative_text="Image"
            description={ description1 }
            source="/img.jpeg"
        />
        <News
            alternative_text="Image"
            description={ description2 }
            source="/img.jpeg"
        />
        <News
            alternative_text="Image"
            description={ description3 }
            source="/img.jpeg"
        />
        <News
            alternative_text="Image"
            description={ description4 }
            source="/img.jpeg"
        />
        <News
            alternative_text="Image"
            description={ description5 }
            source="/img.jpeg"
        />
    </section>
</section>
