---

// IMPORT ASTRO ATOMS
import Heading2 from "@/atoms/heading2/index.astro";
import Heading3 from "@/atoms/heading3/index.astro";


// GET ASTRO PROPS
const {

    title,
    description1,
    description2,

} = Astro.props

---

<br><br>
<Heading2>{ title }</Heading2>
<br><br>
<div class="flex">
    <div class="relative max-w-xl mx-auto mt-15">
        <img src="/img.jpeg" alt="Image" class="h-full w-full object-cover rounded-md">
        <div class="absolute inset-0 bg-gray-700 opacity-60 rounded-md"></div>
        <div class="absolute inset-0 flex items-center justify-center">
            <Heading3>{ description1 }</Heading3>
        </div>
    </div>

    <div class="relative max-w-xl mx-auto mt-15">
        <img class="h-full w-full object-cover rounded-md" src="/img.jpeg" alt="Image">
        <div class="absolute inset-0 bg-gray-700 opacity-60 rounded-md"></div>
        <div class="absolute inset-0 flex items-center justify-center">
            <Heading3>{ description2 }</Heading3>
        </div>
    </div>
</div>
<br><br>