---

// IMPORT ASTRO ATOMS
import ButtonRed from "@/atoms/buttons/red/index.astro"
import HeadingTwo from "@/atoms/headings/two/index.astro"
import Paragraph from "@/atoms/paragraph/xl/center/index.astro"

// GET ASTRO PROPS
const {

    button_text,
    description,
    title,

} = Astro.props

---

<section class="bg-orange-100 h-100">
    <div class="pt-12 space-y-8">
        <HeadingTwo>{ title }</HeadingTwo>
        <Paragraph>{ description }</Paragraph>
        <div class="text-center pb-8 space-x-5">
            <input
                class="relative items-center justify-center py-2 px-12 text-gray bg-white"
                placeholder="First Name"
                type="text"
            />
            <input
                class="relative items-center justify-center py-2 px-12 text-gray bg-white"
                placeholder="Email"
                type="text"
            />
            <ButtonRed>{ button_text }</ButtonRed>
        </div>
    </div>
</section>
