---

// IMPORT ASTRO ATOMS
import Input from "@/atoms/inputs/input/index.astro"
import ButtonRedLarge from "@/atoms/buttons/red/lg/index.astro"
import HeadingTwo2xlThinCapitalizeCenter from "@/atoms/headings/two/2xl/thin/center/index.astro"
import ParagraphBaseWiderCenter from "@/atoms/paragraph/base/wider/center/index.astro"

// GET ASTRO PROPS
const {

    button_text,
    description,
    title,

} = Astro.props

---

<section class="bg-light_red pt-12 pb-8">
    <div class="space-y-6">
        <div class="mx-20 animate-fade-in-up">
            <HeadingTwo2xlThinCapitalizeCenter>{ title }</HeadingTwo2xlThinCapitalizeCenter>
            <div class="flex items-center justify-center">
                <div class="w-24 h-px mt-5 border-0 bg-gray-700"></div>
            </div>
        </div>
        <div class="mx-20 animate-fade-in-up">
            <ParagraphBaseWiderCenter>{ description }</ParagraphBaseWiderCenter>
        </div>
        <div class="mx-20 sm:mx-40 md:mx-0 text-center space-y-2 md:flex md:gap-2 md:justify-center md:space-y-0 animate-fade-in-up">
            <Input 
            placeholder="Name"
            />
            <Input 
            placeholder="Email"
            />
            <ButtonRedLarge>{ button_text }</ButtonRedLarge>
        </div>
    </div>
</section>
