---

// IMPORT ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORT ASTRO COMPONENTS
import Link from "@/atoms/links/index.astro"
import SportSummerInParisCard from "@/components/home/sports-summer-in-paris/card/index.astro"

// IMPORT ASTRO ATOMS
import HeadingTwo4xlThinCenter from "@/atoms/headings/two/4xl/thin/center/index.astro"
import ParagraphBaseCenter from "@/atoms/paragraph/base/center/index.astro"
import ButtonTransparentHoverBlack from "@/atoms/buttons/transparent-hover-black/index.astro";

// CARD ARRAY
const cards = [

    {
        alternative_text:"image",
        source:"/images/sport-summer1.jpeg",
    },
    {
        alternative_text:"image",
        source:"/images/sport-summer2.jpeg",
    },
    {
        alternative_text:"image",
        source:"/images/sport-summer3.jpeg",
    },

]

// GET ASTRO PROPS
const {

    button_text,
    title,
    sub_title,

} = Astro.props

---
<section class="py-10">
    <Container>
        <div class="relative flex items-center mb-6">
            <div class="flex-grow ml-4 border-black border-t-2"></div>
            <div class="mx-2 sm:mx-4 md:mx-6">
                <HeadingTwo4xlThinCenter>{ title }</HeadingTwo4xlThinCenter>
            </div>
            <div class="flex-grow mr-4 border-black border-t-2"></div>
        </div>
        <div class="space-y-10">
            <div class="flex mx-auto justify-center">
                <ParagraphBaseCenter>{ sub_title }</ParagraphBaseCenter>    
            </div>
            <div class="grid grid-cols-2 md:grid-cols-3 gap-2 md:gap-6 lg:gap-8">
                {
        
                    cards.map( ( item ) =>{
        
                        return ( 
        
                                <SportSummerInParisCard
                                    alternative_text={ item.alternative_text }
                                    source={ item.source }
                                />
        
                        )
        
                    })
        
                }
            </div>
            <div class="flex justify-center">
                <Link aria_label={ button_text } href="/paris/sports-summer/">
                    <ButtonTransparentHoverBlack>{ button_text }</ButtonTransparentHoverBlack>
                </Link>
            </div>
        </div>
    </Container>
</section>
