---

// IMPORT ASTRO COMPONENTS
import SportSummerInParisCard from "@/components/home/sports-summer-in-paris/card/index.astro"

// IMPORT ASTRO ATOMS
import HeadingTwo from "@/atoms/headings/two/index.astro"
import ParagraphRegularCenter from "@/atoms/paragraph/regular/center/index.astro"
import ButtonDropdownBlack from "@/atoms/buttons/dropdown/dropdownblack/index.astro";

// GET ASTRO PROPS
const {

    button_text,
    title,
    sub_title,
    title2,

} = Astro.props

---

<section class="py-10 space-y-4 text-center justify-center items-center">
    <div class="relative flex py-2 items-center">
        <div class="flex-grow ml-4 border-black border-t-2"></div>
        <HeadingTwo>{ title }</HeadingTwo>
        <div class="flex-grow mr-4 border-black border-t-2"></div>
    </div>
    <ParagraphRegularCenter>{ sub_title }</ParagraphRegularCenter>

    
    <div class="grid sm:grid-cols-2 md:grid-cols-3">
        <SportSummerInParisCard
            alternative_text="image"
            source="/img.jpeg"
        />
        <SportSummerInParisCard
            alternative_text="image"
            source="/img.jpeg"
        />
        <SportSummerInParisCard
            alternative_text="image"
            source="/img.jpeg"
        />
    </div>

    <ButtonDropdownBlack>{ button_text }</ButtonDropdownBlack>
</section>