---

// IMPORT ASTRO ATOMS
import ButtonTransparent from "@/atoms/buttons/transparent/index.astro"
import HeadingThree from "@/atoms/headings/three/index.astro"
import ParagraphRegularCenterWhite from "@/atoms/paragraph/regular/center/white/index.astro"

// GET ASTRO PROPS
const {

    button_text,
    description,
    title,

} = Astro.props

---

<section class="bg-blue-300 bg-opacity-75 py-20">
    <div class="flex mx-20">
        <div class="space-y-6">
            <HeadingThree>{ title }</HeadingThree>
            <ParagraphRegularCenterWhite>{ description }</ParagraphRegularCenterWhite>
        </div>
    <div>
</section>
