<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="style.css">
	</head>
</html>

<div class="">
    <h1 class="font-size: 8rem 
    my-10 px-10 text-center text-4xl hover:underline">WELCOME TO ZOKU</h1>
    <br>
<p class="mx-5 px-10 text-center text-lg">Discover a new kind of business hotel in Europe's most livable cities</p>
<br><br>
<p class=" mx-5 px-10 text-center text-lg">We’re Zoku. Designed for the new generation of business travelers, we’re so much more than a long stay hotel. We’re a place you can call your second home, even on your first visit. We’ve created a hive of private Lofts and rooftop Social Spaces, so you can stay connected and well rested as you live and work throughout Europe. Throw yourself into your work and play, and effortlessly discover one of our home cities. It will be your home city next.</p>
</div>
<br><br>
<h2 class="text-4xl font-thin text-center hover:underline">AS FEATURED IN</h2>
<br>
<div class="flex">
    <div class="p-4">
        <img src="./public/img.jpeg" alt="Image" class="h-30 w-20">
        <br>
        <p>"Europe's best Hotels for Business Travel"</p>
    </div>
    <div class="p-4">
        <img src="./public/img.jpeg" alt="Image" class="h-30 w-20">
        <br>
        <p>"Europe's best Hotels for Business Travel"</p>
    </div>
    <div class="p-4">
        <img src="./public/img.jpeg" alt="Image" class="h-30 w-20">
        <br>
        <p>"Europe's best Hotels for Business Travel"</p>
    </div>
    <div class="p-4">
        <img src="./public/img.jpeg" alt="Image" class="h-30 w-20">
        <br>
        <p>"Europe's best Hotels for Business Travel"</p>
    </div>
    <div class="p-4">
        <img src="./public/img.jpeg" alt="Image" class="h-30 w-20">
        <br>
        <p>"Europe's best Hotels for Business Travel"</p>
    </div>
</div>
