---

// IMPORT ASTRO ATOMS
import Heading2 from "@/atoms/heading2/index.astro";

---
<br><br><br><br><br>
<Heading2>Follow Us</Heading2>
<br><br>

<div class="flex space-x-10 space-y-5 text-center">
    <a href="">
        <div class="relative max-w-xl mx-auto mt-15 ml-7 pt-8">
            <img src="./public/img.jpeg" alt="Image" >
            <div class="absolute inset-0 bg-gray-100 opacity-10 hover:bg-gray-700"></div>
        </div>
    </a>
    <a href="">
        <div class="relative p-2 max-w-xl mx-auto mt-15">
            <img src="./public/img.jpeg" alt="Image" >
            <div class="absolute inset-0 bg-gray-100 opacity-10 hover:bg-gray-700"></div>
        </div>
    </a>
    <a href="">
        <div class="relative p-2 max-w-xl mx-auto mt-15">
            <img src="./public/img.jpeg" alt="Image" >
            <div class="absolute inset-0 bg-gray-100 opacity-10 hover:bg-gray-700"></div>
        </div>
    </a>
    <a href="">
        <div class="relative p-2 max-w-xl mx-auto mt-15">
            <img src="./public/img.jpeg" alt="Image" >
            <div class="absolute inset-0 bg-gray-100 opacity-10 hover:bg-gray-700"></div>
        </div>
    </a>
</div>
<br><br>
