<button class="relative font-sans text-ellipsis group cursor-pointer px-4 z-10 outline text-black text-center font-thin">
    <slot/>
    <div class="text-left">
        <ul class="absolute hidden group-hover:block font-thin outline bg-white pl-5 pr-40 -ml-4">
            <li class="py-2 hover:text-red-400">AMSTERDAM</li>
            <li class="py-2 hover:text-red-400">COPENHAGEN</li>
            <li class="py-2 hover:text-red-400">PARIS</li>
            <li class="py-2 hover:text-red-400">VIENNA</li>
        </ul>
    </div>
</button>
