---

// IMPORT ASTRO ATOMS
import HeadingThree from "@/atoms/headings/three/index.astro"

// GET ASTRO PROPS
const {

    alternative_text,
    source,

} = Astro.props

---
<div class="w-full aspect-square overflow-hidden animate-spinner-grow">
    <img
        alt={ alternative_text }
        src={ source }
    />
</div>

