---

// IMPORT ASTRO ATOMS
import HeadingThree from "@/atoms/headings/three/index.astro"

// GET ASTRO PROPS
const {

    alternative_text,
    source,

} = Astro.props

---
<div class="relative max-w-xl mx-auto">
    <div class="rounded-md ">
        <img
            alt={ alternative_text }
            class="h-full w-full p-4"
            src={ source }
        />
    </div>
</div>
