---

// IMPORT ASTRO ATOMS
import PictureInternal from "@/atoms/picture/internal/index.astro"

// GET ASTRO PROPS
const {

    alternative_text,
    source,

} = Astro.props

---
<div class="w-full aspect-square overflow-hidden animate-spinner-grow">
    <PictureInternal
        alternative_text={ alternative_text }
        source={ source }
    />
</div>

