---

// IMPORTS ASTRO COMPONENTS
import CountryCity from "@/components/home/location/country-city/index.astro"

// IMPORT ASTRO ATOMS
import Heading2 from "@/atoms/headings/two/index.astro"
import Paragraph from "@/atoms/paragraph/xl/center/index.astro"

// GET ASTRO PROPS
const {

    title,
    description1,
    description2,
    heading,

} = Astro.props

---

<section class="py-10 space-y-4">
    <Heading2>{ title }</Heading2>
    <Paragraph>{ description1 }</Paragraph>
    <section class="flex justify-center space-x-4 py-4">
        <CountryCity
            description={ description2 }
            heading={ heading }
            href=""
        />
        <CountryCity
            description={ description2 }
            heading={ heading }
            href=""
        />
        <CountryCity
            description={ description2 }
            heading={ heading }
            href=""
        />
        <CountryCity
            description={ description2 }
            heading={ heading }
            href=""
        />
    </section>
</section>
