---

// IMPORT ASTRO ATOMS
import Paragraph from "@/atoms/paragraph/index.astro";
import Heading2 from "@/atoms/heading2/index.astro";
import Anchor from "@/atoms/anchor/index.astro";


// GET ASTRO PROPS
const {

    title,
    description1,
    description2,
    heading1,

} = Astro.props

---

<Heading2>{ title }</Heading2>
<br>
<Paragraph>{ description1 }</Paragraph>
<br><br>

<div class="flex">
    <div class="p-4">
        <Anchor>{ heading1 }</Anchor>
        <br>
        <Paragraph>{ description2 }</Paragraph>
    </div>

    <div class="p-4">
        <Anchor>{ heading1 }</Anchor>
        <br>
        <Paragraph>{ description2 }</Paragraph>
    </div>

    <div class="p-4">
        <Anchor>{ heading1 }</Anchor>
        <br>
        <Paragraph>{ description2 }</Paragraph>
    </div>

    <div class="p-4">
        <Anchor>{ heading1 }</Anchor>
        <br>
        <Paragraph>{ description2 }</Paragraph>
    </div>
</div>
