---

// IMPORTS ASTRO COMPONENTS
import CountryCity from "@/components/home/location/country-city/index.astro"

// IMPORT ASTRO ATOMS
import HeadingTwo from "@/atoms/headings/two/index.astro"
import Paragraph from "@/atoms/paragraph/xl/center/index.astro"

// GET ASTRO PROPS
const {

    title,
    description1,
    description2,
    heading,

} = Astro.props

---

<section class="py-10 space-y-4">
    <div class="relative flex py-2 items-center">
        <div class="flex-grow ml-4 border-black border-t-2"></div>
        <HeadingTwo>{ title }</HeadingTwo>
        <div class="flex-grow mr-4 border-black border-t-2"></div>
    </div>
    
    <Paragraph>{ description1 }</Paragraph>
    <section class="grid md:grid-cols-4 justify-center space-x-4 py-4">
        <CountryCity
            description={ description2 }
            heading={ heading }
            href=""
        />
        <CountryCity
            description={ description2 }
            heading={ heading }
            href=""
        />
        <CountryCity
            description={ description2 }
            heading={ heading }
            href=""
        />
        <CountryCity
            description={ description2 }
            heading={ heading }
            href=""
        />
    </section>
</section>
