---

// IMPORT ASTRO ATOMS
import ButtonRed from "@/atoms/buttons/red/index.astro"
import ParagraphXlWhite from "@/atoms/paragraph/xl/whitetextbase/index.astro";
import Regular from "@/atoms/hover/regular/index.astro"
import White from "@/atoms/hover/white/index.astro"
import WiderText from "@/atoms/list/widertext/index.astro"



// GET ASTRO PROPS
const {

    title,
    sidetitle1,
    sidetitle2,
    button_text,
    sidetitle2_description1,
    sidetitle2_description2,
    sidetitle2_description3,
    sidetitle2_description4,
    button_description1,
    button_description2,
    button_description3,
    button_description4,

} = Astro.props

---

<div class="top-8 absolute w-full p-4 text-center">
    <ul class="flex justify-between">
        <div class="space-x-2 flex">
        <!-- Menu -->
        <li class="group cursor-pointer">
            <div class="">
                <i class="fa-solid fa-bars text-3xl text-white"></i>
                <ParagraphXlWhite>{ sidetitle1 }<i class="fa-solid fa-caret-down p-2"></i></ParagraphXlWhite>
            </div>
        </li>
        <!-- Location -->
        <li class="group cursor-pointer">
            <div class="">
                <i class="fa-solid fa-location-dot text-3xl text-white"></i>
                <ParagraphXlWhite>{ sidetitle2 }<i class="fa-solid fa-caret-down p-2"></i></ParagraphXlWhite>
                <ul class="invisible group-hover:visible box-border border-2 font-thin bg-transparent px-4">
                    <White>{ sidetitle2_description1 }</White>
                    <White>{ sidetitle2_description2 }</White>
                    <White>{ sidetitle2_description3 }</White>
                    <White>{ sidetitle2_description4 }</White>
                </ul>
            </div>
        </li>
        </div>
        <!-- Button -->
        <WiderText>{ title }</WiderText>
        <li class="group cursor-pointer"><ButtonRed>{ button_text }<i class="fa-solid fa-caret-down p-4"></i></ButtonRed>
            <ul class="invisible group-hover:visible font-thin bg-white group-hover:box-border border-2 mr-8">
                <Regular>{ button_description1 }</Regular>
                <Regular>{ button_description2 }</Regular>
                <Regular>{ button_description3 }</Regular>
                <Regular>{ button_description4 }</Regular>
            </ul>
        </li>
    </ul> 
</div>


<!-- <script>
    document.addEventListener("scroll" , ()=>{
        const header = document.querySelector("header");
        if(window.scrollY > 90){
            header.classList.add("scrolled");
        }else{
            header.classList.remove("scrolled");
        }
    });
</script>  -->

