---

// IMPORT ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORT ASTRO ATOMS
import HeadingThree3xlMediumUppercaseCenterWhite from "@/atoms/headings/three/3xl/medium/uppercase/center/white/index.astro"
import ParagraphSmallCenterWhite from "@/atoms/paragraph/sm/center/white/index.astro"

// GET ASTRO PROPS
const {

    description,
    title,

} = Astro.props

---

<section class="bg-light_skyblue bg-opacity-75 py-20">
    <Container>
        <div class="mx-8">
            <div class="space-y-6">
                <HeadingThree3xlMediumUppercaseCenterWhite>{ title }</HeadingThree3xlMediumUppercaseCenterWhite>
                <ParagraphSmallCenterWhite>{ description }</ParagraphSmallCenterWhite>
            </div>
        <div>
    </Container>
</section>
