
    <div class="bg-orange-200 h-100">
        <div class="flex">
            <div>
                <h3 class="text-center text-4xl text-white mt-5 hover:underline">We're a proud B Corp</h3>
            <br><br>
            <p class="mx-5 px-10 text-center text-white text-xl font-thin">In 2018, Zoku Amsterdam received the B Corp certification, making us the first B Corp certified hospitality company in the Netherlands. Certified B Corporations are businesses that meet the highest standards of verified social and environmental performance, public transparency, and legal accountability to balance profit and purpose. </p>
            <br>
        </div>
    <div>
                <p class="mx-5 px-10 text-center text-xl font-thin pb-10">Certified</p>
                <div>
                    <img src="./public/img.jpeg" alt="Image" class="rounded-full max-h-80 max-w-72 pr-6 pb-9">
                </div>
            </div>
        </div>
        
        
    </div>
    <br><br>

    <div class="flex flex-wrap w-full space-x-4"></div>
    <!-- Div 1 -->
    <div class="flex flex-row ">
        <div>
            <img src="./public/img.jpeg" alt="Image" class="max-h-screen max-w-xl pt-4">
        </div>
        <div>
            <h3 class="text-center text-3xl pt-9">STAY & LIVE</h3>
            <br><br>
            <p class="mx-5 px-10 text-center text-xl">Introducing the perfect homebase for living and working</p>
            <br>
            <p class="mx-5 px-10 text-center text-xl">The Zoku Loft is a flexible home-office hybrid that sets a new standard in the intelligent use of space. It’s an entire apartment’s worth of spaces all combined into a single lofty home – making it an ideal base of operations for living, working, and collaborating.</p>
            <br>
            <button class="relative inline-flex items-center 
                justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 
                hover:text-white focus:outline-none focus:ring-2 focus:ring-inset 
                focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">Our Sustainability Efforts</button>
        </div>
    </div>
<br><br>

<!-- Div-2  -->
<div class="flex flex-row">
    
    <div>
        <h3 class="text-center text-3xl pt-9">STAY & LIVE</h3>
        <br><br>
        <p class="mx-5 px-10 text-center text-xl">Introducing the perfect homebase for living and working</p>
        <br>
        <p class="mx-5 px-10 text-center text-xl">The Zoku Loft is a flexible home-office hybrid that sets a new standard in the intelligent use of space. It’s an entire apartment’s worth of spaces all combined into a single lofty home – making it an ideal base of operations for living, working, and collaborating.</p>
        <br>
        <button class="relative inline-flex items-center 
            justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 
            hover:text-white focus:outline-none focus:ring-2 focus:ring-inset 
            focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">Our Sustainability Efforts</button>
    </div>
    <div>
        <img src="./public/img.jpeg" alt="Image" class="max-h-screen max-w-xl pt-4">
    </div>
</div>
<br><br>

<!-- Div-3 -->
<div class="flex flex-row">
    <div>
        <img src="./public/img.jpeg" alt="Image" class="max-h-screen max-w-xl pt-4">
    </div>
    <div>
        <h3 class="text-center text-3xl pt-9">STAY & LIVE</h3>
        <br><br>
        <p class="mx-5 px-10 text-center text-xl">Introducing the perfect homebase for living and working</p>
        <br>
        <p class="mx-5 px-10 text-center text-xl">The Zoku Loft is a flexible home-office hybrid that sets a new standard in the intelligent use of space. It’s an entire apartment’s worth of spaces all combined into a single lofty home – making it an ideal base of operations for living, working, and collaborating.</p>
        <br>
        <button class="relative inline-flex items-center 
            justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 
            hover:text-white focus:outline-none focus:ring-2 focus:ring-inset 
            focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">Our Sustainability Efforts</button>
    </div>
</div>
<br><br>

<!-- Div-4 -->
<div class="flex flex-row">
    <div>
        <h3 class="text-center text-3xl pt-9">STAY & LIVE</h3>
        <br><br>
        <p class="mx-5 px-10 text-center text-xl">Introducing the perfect homebase for living and working</p>
        <br>
        <p class="mx-5 px-10 text-center text-xl">The Zoku Loft is a flexible home-office hybrid that sets a new standard in the intelligent use of space. It’s an entire apartment’s worth of spaces all combined into a single lofty home – making it an ideal base of operations for living, working, and collaborating.</p>
        <br>
        <button class="relative inline-flex items-center 
            justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 
            hover:text-white focus:outline-none focus:ring-2 focus:ring-inset 
            focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">Our Sustainability Efforts</button>
    </div>
    <div>
        <img src="./public/img.jpeg" alt="Image" class="max-h-screen max-w-xl pt-4">
    </div>
</div>


<div class="bg-gray-200 h-100">

    <div class="flex">
        <div>
            <img src="./public/img.jpeg" alt="Image" class="rounded-full max-h-screen max-w-screen-sm pl-6 pt-9 pb-9">
        </div>
        
        <div>
            <h3 class="text-center text-4xl text-black font-thin pt-9">STAY & LIVE</h3>
        <br><br>
        <p class="mx-5 px-10 text-center text-xl font-thin">In 2018, Zoku Amsterdam received the B Corp certification, making us the first B Corp certified hospitality company in the Netherlands. Certified B Corporations are businesses that meet the highest standards of verified social and environmental performance, public transparency, and legal accountability to balance profit and purpose. </p>
        <br>
        <p class="mx-5 px-10 text-center text-xl font-thin pb-10">-Chris, Relocation at Zoku Amsterdam</p>
        </div>
    </div>


    <h1 class="font-size: 8rem 
        my-10 px-10 text-center text-4xl hover:underline">PICK YOUR PURPOSE</h1>
    
</div>
