<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="style.css">
	</head>
</html>

    <div class="bg-orange-200 h-100">
        <div class="flex">
            <div>
                <h3 class="text-center text-4xl text-white mt-5 hover:underline">We're a proud B Corp</h3>
            <br><br>
            <p class="para font-thin text-white">In 2018, Zoku Amsterdam received the B Corp certification, making us the first B Corp certified hospitality company in the Netherlands. Certified B Corporations are businesses that meet the highest standards of verified social and environmental performance, public transparency, and legal accountability to balance profit and purpose. </p>
            <br>
        </div>
    <div>
                <p class="para font-thin text-white">Certified</p>
                <div>
                    <img src="./public/img.jpeg" alt="Image" class="rounded-full max-h-80 max-w-72 pr-6 pb-9">
                </div>
            </div>
        </div>
        
        
    </div>
    <br><br>

    <div class="flex flex-wrap w-full space-x-4"></div>
    <!-- Div 1 -->
    <div class="flex flex-row ">
        <div>
            <img src="./public/img.jpeg" alt="Image" class="img">
        </div>
        <div>
            <h3 class="text-center text-3xl pt-9">STAY & LIVE</h3>
            <br><br>
            <p class="para">Introducing the perfect homebase for living and working</p>
            <br>
            <p class="para">The Zoku Loft is a flexible home-office hybrid that sets a new standard in the intelligent use of space. It’s an entire apartment’s worth of spaces all combined into a single lofty home – making it an ideal base of operations for living, working, and collaborating.</p>
            <br>
            <button class="relative inline-flex items-center 
                justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 
                hover:text-white focus:outline-none focus:ring-2 focus:ring-inset 
                focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">Our Sustainability Efforts</button>
        </div>
    </div>
<br><br>

<!-- Div-2  -->
<div class="flex flex-row">
    
    <div>
        <h3 class="text-center text-3xl pt-9">STAY & LIVE</h3>
        <br><br>
        <p class="para">Introducing the perfect homebase for living and working</p>
        <br>
        <p class="para">The Zoku Loft is a flexible home-office hybrid that sets a new standard in the intelligent use of space. It’s an entire apartment’s worth of spaces all combined into a single lofty home – making it an ideal base of operations for living, working, and collaborating.</p>
        <br>
        <button class="relative inline-flex items-center 
            justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 
            hover:text-white focus:outline-none focus:ring-2 focus:ring-inset 
            focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">Our Sustainability Efforts</button>
    </div>
    <div>
        <img src="./public/img.jpeg" alt="Image" class="img">
    </div>
</div>
<br><br>

<!-- Div-3 -->
<div class="flex flex-row">
    <div>
        <img src="./public/img.jpeg" alt="Image" class="img">
    </div>
    <div>
        <h3 class="text-center text-3xl pt-9">STAY & LIVE</h3>
        <br><br>
        <p class="para">Introducing the perfect homebase for living and working</p>
        <br>
        <p class="para">The Zoku Loft is a flexible home-office hybrid that sets a new standard in the intelligent use of space. It’s an entire apartment’s worth of spaces all combined into a single lofty home – making it an ideal base of operations for living, working, and collaborating.</p>
        <br>
        <button class="relative inline-flex items-center 
            justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 
            hover:text-white focus:outline-none focus:ring-2 focus:ring-inset 
            focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">Our Sustainability Efforts</button>
    </div>
</div>
<br><br>

<!-- Div-4 -->
<div class="flex flex-row">
    <div>
        <h3 class="text-center text-3xl pt-9">STAY & LIVE</h3>
        <br><br>
        <p class="para">Introducing the perfect homebase for living and working</p>
        <br>
        <p class="para">The Zoku Loft is a flexible home-office hybrid that sets a new standard in the intelligent use of space. It’s an entire apartment’s worth of spaces all combined into a single lofty home – making it an ideal base of operations for living, working, and collaborating.</p>
        <br>
        <button class="relative inline-flex items-center 
            justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 
            hover:text-white focus:outline-none focus:ring-2 focus:ring-inset 
            focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">Our Sustainability Efforts</button>
    </div>
    <div>
        <img src="./public/img.jpeg" alt="Image" class="img">
    </div>
</div>


<!-- Founder -->
<div class="bg-gray-200 h-90">

    <div class="flex">
        <div>
            <img src="./public/img.jpeg" alt="Image" class="rounded-full max-h-screen max-w-screen-sm pl-6 pt-9 pb-9">
        </div>
        
        <div>
            <h3 class="text-center text-4xl text-black font-thin pt-9">STAY & LIVE</h3>
        <br><br>
        <p class="para font-thin">In 2018, Zoku Amsterdam received the B Corp certification, making us the first B Corp certified hospitality company in the Netherlands. Certified B Corporations are businesses that meet the highest standards of verified social and environmental performance, public transparency, and legal accountability to balance profit and purpose. </p>
        <br>
        <p class="para font-thin pb-10">-Chris, Relocation at Zoku Amsterdam</p>
        </div>
    </div>
</div>

<h1 class="font-size: 8rem 
        my-10 px-10 text-center text-4xl font-thin hover:underline">PICK YOUR PURPOSE
</h1>

<div class="flex">
    <div class="relative max-w-xl mx-auto mt-15">
        <img class="h-full w-full object-cover rounded-md" src="./public/img.jpeg" alt="Image">
        <div class="absolute inset-0 bg-gray-700 opacity-60 rounded-md"></div>
        <div class="absolute inset-0 flex items-center justify-center">
            <h2 class="text-white text-3xl font-thin">Group Bookings At Zoku</h2>
        </div>
    </div>

    <div class="relative max-w-xl mx-auto mt-15">
        <img class="h-full w-full object-cover rounded-md" src="./public/img.jpeg" alt="Image">
        <div class="absolute inset-0 bg-gray-700 opacity-60 rounded-md"></div>
        <div class="absolute inset-0 flex items-center justify-center">
            <h2 class="text-white text-3xl font-thin">Group Bookings At Zoku</h2>
        </div>
    </div>
</div>
<br><br>

<!-- Locations -->

<h2 class="text-4xl font-thin text-center hover:underline">Locations</h2>
<br>
<p class="text-xl font-thin text-center">Find us in Europe's most livable cities</p>
<br><br>

<div class="flex">
    <div class="p-4">
        <a href="" class="anc hover-a" >Amsterdam</a>
        <br>
        <p class="para font-thin pb-10" >Netherlands</p>
    </div>

    <div class="p-4">
        <a href="" class="anc hover-a" >Amsterdam</a>
        <br>
        <p class="para font-thin pb-10" >Netherlands</p>
    </div>

    <div class="p-4">
        <a href="" class="anc hover:text-red-400" >Amsterdam</a>
        <br>
        <p class="para font-thin pb-10" >Netherlands</p>
    </div>

    <div class="p-4">
        <a href="" class="anc hover:text-red-400" >Amsterdam</a>
        <br>
        <p class="para font-thin pb-10" >Netherlands</p>
    </div>
</div>

<!-- Follow on Social media Platform -->
<h2 class="text-4xl font-thin text-center hover:underline">Follow Us</h2>
<br>

<div class="flex flex-wrap">
    <a href="">
        <div class="relative p-2 max-w-xl mx-auto mt-15">
            <img src="./public/img.jpeg" alt="Image" >
            <div class="absolute inset-0 bg-gray-100 opacity-10 hover:bg-gray-700"></div>
        </div>
    </a>
    <a href="">
        <div class="relative p-2 max-w-xl mx-auto mt-15">
            <img src="./public/img.jpeg" alt="Image" >
            <div class="absolute inset-0 bg-gray-100 opacity-10 hover:bg-gray-700"></div>
        </div>
    </a>
    <a href="">
        <div class="relative p-2 max-w-xl mx-auto mt-15">
            <img src="./public/img.jpeg" alt="Image" >
            <div class="absolute inset-0 bg-gray-100 opacity-10 hover:bg-gray-700"></div>
        </div>
    </a>
    <a href="">
        <div class="relative p-2 max-w-xl mx-auto mt-15">
            <img src="./public/img.jpeg" alt="Image" >
            <div class="absolute inset-0 bg-gray-100 opacity-10 hover:bg-gray-700"></div>
        </div>
    </a>
</div>
<br><br>


<div class="bg-red-200 h-100">
    <div class="flex">
        <div>
            <h3 class="text-center text-4xl text-white mt-5 hover:underline">Ready To Live Zoku? Subscribe For 15% Off!</h3>
        <br><br>
        <p class="mx-5 px-10 text-center text-white text-xl font-thin">
            Sign up to get up to 15% off your next stay – with exclusive overnight stay, meeting, and event offers right to your inbox! 
        </p>
        <br><br>
        <div class="flex relative ml-3 flex-row bg-center m-auto">
            <input type="text" placeholder="         First Name" class="items-center ml-8 mx-4 py-5 mb-8"></input>
            <input type="text" placeholder="         Email" class=" justify-center rounded-md mx-4 py-5 mb-8 text-black"></input>
            <button type="button" class="relative inline-flex items-center 
                justify-center rounded-md p-2 text-white bg-red-400 
                focus:outline-none focus:ring-2 focus:ring-inset 
                focus:ring-white mb-8">Subscribe
            </button>
        </div>
    </div>
<div>
    