---

// IMPORT ASTRO ATOMS
import Link from "@/atoms/links/index.astro"
import PictureInternal from "@/atoms/picture/internal/index.astro"

// GET ASTRO PROPS
const {

    alternative_text,
    source,

} = Astro.props

---
<Link aria_label="/www.instagram.com/livezoku/" href="/www.instagram.com/livezoku/">
    <div class="relative w-6/7 aspect-square animate-spinner-grow">
        <PictureInternal
            alternative_text={ alternative_text }
            source={ source }
        />
        <div class="absolute inset-0 md:m-2 lg:m-1 opacity-50 overflow-hidden transition delay-300 ease-in-out hover:scale-105 duration-500 hover:bg-black"/>
    </div>
</Link>
