---

// IMPORT ASTRO COMPONENTS
import Header from "@/components/home/header/index.astro"

// IMPORT ASTRO ATOMS
import ParagraphRegularCenterWhite from "@/atoms/paragraph/regular/center/white/index.astro";
import Anchor1 from "@/atoms/anchor1/index.astro";
import ButtonBlack from "@/atoms/buttons/black/index.astro"



// GET ASTRO PROPS
const {

    heading1,
    description2,
    button_text,

} = Astro.props

---

<section class="relative flex justify-center items-center overflow-hidden ">


    <video autoplay loop muted plays-inline class="h-auto w-auto sm:bg-cover" >
        <source 
            src="/video.mp4"
            type="video/mp4"
        />
    </video>

    <Header
        title="ZOKU"
        sidetitle1="Menu"
        sidetitle2="Locations"
        button_text="Book Now"
        sidetitle2_description1="AMSTERDAM"
        sidetitle2_description2="COPENHAGEN"
        sidetitle2_description3="PARIS"
        sidetitle2_description4="VIENNA"
        button_description1="AMSTERDAM"
        button_description2="COPENHAGEN"
        button_description3="PARIS"
        button_description4="VIENNA"
    />
    
    
    <!-- Locations -->

    <div class="sm:invisible md:visible absolute cursor-pointer top-36 flex justify-between space-x-24">
        <div class="p-4 text-center items-center">
            <Anchor1>{ heading1 }</Anchor1>
            <br>
            <ParagraphRegularCenterWhite>{ description2 }</ParagraphRegularCenterWhite>
        </div>
    
        <div class="p-4 text-center items-center">
            <Anchor1>{ heading1 }</Anchor1>
            <br>
            <ParagraphRegularCenterWhite>{ description2 }</ParagraphRegularCenterWhite>
        </div>
    
        <div class="p-4 text-center items-center">
            <Anchor1>{ heading1 }</Anchor1>
            <br>
            <ParagraphRegularCenterWhite>{ description2 }</ParagraphRegularCenterWhite>
        </div>
    
        <div class="p-4 text-center items-center">
            <Anchor1>{ heading1 }</Anchor1>
            <br>
            <ParagraphRegularCenterWhite>{ description2 }</ParagraphRegularCenterWhite>
        </div>
    </div>
    
    <!-- Input -->
    <div class="absolute sm:invisible md:visible top-56 flex justify-end pb-8">
        <input 
            class="text-center my-3 box-border border-2 bg-white" 
            placeholder="Select location" 
            type="text">
        <div class="flex ">
            <input   
                class="text-center w-36 my-3 bg-white" 
                placeholder="Arrival"
                type="text">
            <i class="fa-solid fa-calendar-days text-center box-border border-l-0 border-r-2 my-3 py-3 pr-4 bg-white border-1 text-gray-300 text-xl "></i>
        </div>
        <div class="flex ">
            <input  
                class="text-center w-36 box-border border-r-0 my-3 bg-white"
                placeholder="Departure"
                type="text" >
            <i class="fa-solid fa-calendar-days  text-center box-border border-l-0 border-r-2 py-3 pr-4 my-3 bg-white border-1 text-gray-300 text-xl "></i>
        </div>
        <input   
            class="text-center w-36 my-3 px-0 bg-white"
            placeholder="Got a code?"
            type="text">
        <ButtonBlack class="my-3">{ button_text }</ButtonBlack>
    </div>  
        
</section>
