---

// IMPORT ASTRO ATOMS
import Center from "@/atoms/anchor/center/index.astro"
import ParagraphRegularXl from "@/atoms/paragraph/xl/index.astro"
import ParagraphBase from "@/atoms/paragraph/base/index.astro"
import Regular from "@/atoms/anchor/regular/index.astro"


// GET ASTRO PROPS
const {

    anchor_text1,
    anchor_text2,
    contact_info1,
    contact_info2,
    description1,
    description2,
    description3,
    description4,
    title,

} = Astro.props

---

<section class="space-x-10 bg-gray-100 md:justify-between md:items-center pt-20 mx-auto pb-0">
    <div class="flex justify-between">
        <div class="flex justify-start">
            <div class="pl-8 pb-14">
                <ParagraphBase><Center>{ anchor_text2 }</Center></ParagraphBase>
                <ParagraphBase><Center>{ anchor_text2 }</Center></ParagraphBase>
                <ParagraphBase><Center>{ anchor_text2 }</Center></ParagraphBase>
                <ParagraphBase><Center>{ anchor_text2 }</Center></ParagraphBase>
                <ParagraphBase><Center>{ anchor_text2 }</Center></ParagraphBase>
            </div>
            <div class="pb-14 pt-0">
                <ParagraphBase><Center>{ anchor_text2 }</Center></ParagraphBase>
                <ParagraphBase><Center>{ anchor_text2 }</Center></ParagraphBase>
                <ParagraphBase><Center>{ anchor_text2 }</Center></ParagraphBase>
                <ParagraphBase><Center>{ anchor_text2 }</Center></ParagraphBase>
                <ParagraphBase><Center>{ anchor_text2 }</Center></ParagraphBase>
            </div>
        </div>
        

        <div class="flex-wrap">
            <h2 class="text-5xl font-sans font-thin text-center tracking-[32px]">{ title }</h2>
            <br><br>
            <div class="text-center">
                <Center>{ anchor_text1 }</Center> |
                <Center>{ anchor_text1 }</Center> |
                <Center>{ anchor_text1 }</Center> |
                <Center>{ anchor_text1 }</Center>
            </div>
            <br>
            <p class="text-center text-sm font-sans font-thin">{ description1 }</p>
        </div>
        
        <div class="flex-wrap pr-8">
            <div class="flex-wrap">
                <i class="fa-solid fa-phone-volume"></i>
                <Regular>{ contact_info1 }</Regular>
            </div>
            <div class="flex-wrap">
                <i class="fa-regular fa-envelope"></i>
                <Regular>{ contact_info2 }</Regular>
            </div>
        </div>
        
    </div>
    
    
    <div class="flex justify-between pb-0">
        <div class="flex-row">
            <h3 class="font-thin text-sm text-gray-900 font-sans">{ description2 }</h3>
            <p class="font-thin text-left text-xs font-sans">{ description3 }</p>
        </div>
    
        <div>
            <ParagraphRegularXl>{ description4 }</ParagraphRegularXl>
        </div>
    
        <div class="text-right space-x-2 text-lg">
            <i class="fa-brands fa-facebook-f hover:text-red-400"></i>
            <i class="fa-brands fa-x-twitter hover:text-red-400"></i>
            <i class="fa-brands fa-square-instagram hover:text-red-400"></i>
            <i class="fa-brands fa-linkedin-in hover:text-red-400"></i>
            <i class="fa-brands fa-tiktok hover:text-red-400"></i>
            <i class="fa-brands fa-youtube hover:text-red-400"></i>
        </div>
    </div>

    
</section>
