---

// IMPORT ASTRO ATOMS
import Paragraph4 from "@/atoms/paragraph4/index.astro";
import Heading4 from "@/atoms/heading4/index.astro";
import Button1 from "@/atoms/button1/index.astro";


// GET ASTRO PROPS
const {

    title,
    description1,
    description2,
    button,

} = Astro.props

---

<br>
<div class="flex flex-wrap w-full space-x-4"></div>
<!-- Div 1 -->
<div class="flex flex-row">
    <div>
        <img src="/img.jpeg" alt="Image" class="max-h-screen max-w-xl pt-4">
    </div>
    <div class="ml-10">
        <Heading4>{ title }</Heading4>
        <br>
        <Paragraph4>{ description1 }</Paragraph4>
        <br><br>
        <Paragraph4>{ description2 }</Paragraph4>
        <br><br>
        <Button1>{ button }</Button1>
    </div>
</div>
<br><br>

<!-- Div-2  -->
<div class="flex flex-row">
    <div class="ml-10">
        <Heading4>{ title }</Heading4>
        <br>
        <Paragraph4>{ description1 }</Paragraph4>
        <br><br>
        <Paragraph4>{ description2 }</Paragraph4>
        <br><br>
        <Button1>{ button }</Button1>
    </div>
    <div>
        <img src="/img.jpeg" alt="Image" class="max-h-screen max-w-xl pt-4">
    </div>
</div>
<br><br>

<!-- Div-3 -->
<div class="flex flex-row">
    <div>
        <img src="/img.jpeg" alt="Image" class="max-h-screen max-w-xl pt-4">
    </div>
    <div class="ml-10">
        <Heading4>{ title }</Heading4>
        <br>
        <Paragraph4>{ description1 }</Paragraph4>
        <br><br>
        <Paragraph4>{ description2 }</Paragraph4>
        <br><br>
        <Button1>{ button }</Button1>
    </div>
</div>
<br><br>

<!-- Div-4 -->
<div class="flex flex-row">
    <div class="ml-10">
        <Heading4>{ title }</Heading4>
        <br>
        <Paragraph4>{ description1 }</Paragraph4>
        <br><br>
        <Paragraph4>{ description2 }</Paragraph4>
        <br><br>
        <Button1>{ button }</Button1>
    </div>
    <div>
        <img src="/img.jpeg" alt="Image" class="max-h-screen max-w-xl pt-4">
    </div>
</div>
</div>
