---

// IMPORTS ASTRO ATOMS
import ParagraphRegular from "@/atoms/paragraph/regular/index.astro"
import Heading from "@/atoms/anchor/index.astro"

// GET ASTRO PROPS
const {

    description,
    heading,
    href,

} = Astro.props

---
<div class="p-4 text-center items-center space-y-4">
    <Heading>{ heading }</Heading>
    <ParagraphRegular>{ description }</ParagraphRegular>
</div>
