---

// IMPORTS ASTRO ATOMS
import ParagraphXlCenter from "@/atoms/paragraph/xl/center/index.astro"
import Anchor from "@/atoms/anchor/index.astro"

// GET ASTRO PROPS
const {

    description,
    heading,
    href,

} = Astro.props

---
<div class="p-4 text-center items-center space-y-4">
    <a href={ href }>
        <Anchor>{ heading }</Anchor>
    </a>
    <ParagraphXlCenter>{ description }</ParagraphXlCenter>
</div>
