---

// IMPORTS ASTRO ATOMS
import ParagraphBaseThinWiderCenter from "@/atoms/paragraph/base/thin/wider/center/index.astro"
import ListItemXlThinCenter from "@/atoms/list-items/xl/thin/center/index.astro"

// GET ASTRO PROPS
const {

    country,
    href,
    location,

} = Astro.props

---
<div class="group animate-slide-in-up">
    <a href={ href }>
        <div class="group-hover:-translate-y-2 transition ease-in-out delay-100 group-hover:text-dark_red duration-150 mb-2">
            <ListItemXlThinCenter>{ country }</ListItemXlThinCenter>
        </div>
        <ParagraphBaseThinWiderCenter>{ location }</ParagraphBaseThinWiderCenter>
    </a>
</div>
