---

// IMPORT ASTRO ATOMS
import ParagraphRegularCenterSm from "@/atoms/paragraph/regular/center/center-sm/index.astro"

// GET ASTRO PROPS
const {

    alternative_text,
    description,
    source,

} = Astro.props

---
<div class="p-4 space-y-6">          
    <div class="flex justify-center items-center">
        <img
            alt={ alternative_text }
            class="h-8 w-30"
            src={ source }
        />
    </div>
    <ParagraphRegularCenterSm>{ description }</ParagraphRegularCenterSm>
</div>
