---

// IMPORT ASTRO ATOMS
import ButtonTransparent from "@/atoms/buttons/transparent/index.astro"
import HeadingThree from "@/atoms/headings/three/index.astro"
import ParagraphRegularCenterWhite from "@/atoms/paragraph/regular/center/white/index.astro"

// GET ASTRO PROPS
const {

    button_text,
    description,
    title,

} = Astro.props

---

<section class="bg-blue-300 h-100 py-12">
    <div class="flex">
        <div class="space-y-6">
            <HeadingThree>{ title }</HeadingThree>
            <ParagraphRegularCenterWhite>{ description }</ParagraphRegularCenterWhite>
            <div class="flex justify-center items-center">
                <ButtonTransparent>{ button_text }</ButtonTransparent>
            </div>
        </div>
    <div>
    <!-- <ParagraphRegularCenterWhite>Certified</ParagraphRegularCenterWhite> -->
    <!-- <div>
        <img
            alt="Image"
            class="w-80 h-40 p-4 rounded-full"
            src="/img.jpeg"
        />
    </div> -->
</section>
