<div class="bg-gray-100 h-90">

    <div>
        <div>
            <h2 class="text-6xl font-thin text-center pt-10 pb-5">Zoku</h2>
        </div>
        <div class="flex">
            <a href="" class="hover:text-red-400 pl-96">Amsterdam</a>&nbsp; | &nbsp;
            <a href="" class="hover:text-red-400">Amsterdam</a>&nbsp; | &nbsp;
            <a href="" class="hover:text-red-400">Amsterdam</a>&nbsp; | &nbsp;
            <a href="" class="hover:text-red-400">Amsterdam</a>
        </div>
        <p class="text-center pt-2">and more to come...</p>
        <br><br>

        <div class="pl-9 pb-14 pt-0 ">
            <p class="text-xl font-thin p-3"><a href="" class="hover:text-red-400">Sustainability</a></p>
            <p class="text-xl font-thin p-3"><a href="" class="hover:text-red-400">Sustainability</a></p>
            <p class="text-xl font-thin p-3"><a href="" class="hover:text-red-400">Sustainability</a></p>
            <p class="text-xl font-thin p-3"><a href="" class="hover:text-red-400">Sustainability</a></p>
            <p class="text-xl font-thin p-3"><a href="" class="hover:text-red-400">Sustainability</a></p>
        </div>

        <div>
            <h3 class="text-lg font-thin text-center">© 2024 ZOKU</h3>
            <p class="font-thin text-center pb-12">Website by The blupp</p>
        </div>

        <!-- Contact Details -->
        <div class="flex-wrap text-right pb-5">
            <a class="hover:text-red-400">hello@email.com</a>
        </div>
    </div>
</div>



<!-- <section>
    <div>
        <div>
            <h2></h2>
            <div><a href="">Contact us</a></div>
            <div><a href="">Get to know us</a></div>
        </div>
        <div>Zoku
            <ul>
                <span>Amsterdam</span>
                <span>Amsterdam</span>
                <span>Amsterdam</span>
                <span>Amsterdam</span>
            </ul>
            <p>and more to come</p>
        </div>
        <div>
            <h2>@ 2024 Zoku</h2>
            <a href="">Website by blupp</a>
        </div>
    </div>
</section> -->