---

// IMPORT ASTRO ATOMS
import HeadingFive from "@/atoms/headings/five/index.astro"
import ParagraphRegularCenter from "@/atoms/paragraph/regular/center/index.astro"

// GET ASTRO PROPS
const {

    description1,
    description2,
    title,

} = Astro.props

---
<section class="bg-gray-200 w-full">
    <div class="flex flex-wrap md:gap-x-96 md:flex-none md:grid md:grid-cols-3 lg:gap-x-4 p-4 overflow-hidden">
        <div class="md:col-span-1 px-12 py-10 h-96 w-96 mx-auto md:mx-0">
            <img
                alt="Image"
                class="h-full w-full rounded-full"
                src="/images/customer.jpg"
            />
        </div>
        <div class="md:pt-9 space-y-8 md:col-span-2">
            <div class="pb-6">
                <HeadingFive>{ title }</HeadingFive>
            </div>
            <ParagraphRegularCenter>{ description1 }</ParagraphRegularCenter>
            <ParagraphRegularCenter>{ description2 }<ParagraphRegularCenter>
        </div>
    </div>
</section>
