---

// IMPORT ASTRO ATOMS
import HeadingFive from "@/atoms/headings/five/index.astro"
import ParagraphRegularCenter from "@/atoms/paragraph/regular/center/index.astro"

// GET ASTRO PROPS
const {

    description1,
    description2,
    title,

} = Astro.props

---

<div class="bg-gray-200">
    <div class="md:flex p-4">
        <div class="px-6 py-10 items-center justify-center inline-block">
            <img
                alt="Image"
                class="w-40 md:w-full object-cover aspect-square rounded-full"
                src="/img.jpeg"
            />
        </div>
        <div class="pt-9 space-y-8">
            <div class="pb-6">
                <HeadingFive>{ title }</HeadingFive>
            </div>
            <ParagraphRegularCenter>{ description1 }</ParagraphRegularCenter>
            <ParagraphRegularCenter>{ description2 }<ParagraphRegularCenter>
        </div>
    </div>
</div>
