---

// IMPORT ASTRO COMPONENTS
import InstagramPost from "@/components/home/follow-us/instagram-post/index.astro"

// IMPORT ASTRO ATOMS
import HeadingTwo from "@/atoms/headings/two/index.astro"

---

<section>
    <HeadingTwo>Follow Us</HeadingTwo>
    <div class="flex">
        <InstagramPost
            alternative_text=""
            href=""
            source="/img.jpeg"
        />
        <InstagramPost
            alternative_text=""
            href=""
            source="/img.jpeg"
        />
        <InstagramPost
            alternative_text=""
            href=""
            source="/img.jpeg"
        />
        <InstagramPost
            alternative_text=""
            href=""
            source="/img.jpeg"
        />
    </div>
</section>
