---

// IMPORT ASTRO COMPONENTS
import InstagramPost from "@/components/home/follow-us/instagram-post/index.astro"

// IMPORT ASTRO ATOMS
import HeadingTwo from "@/atoms/headings/two/index.astro"

// GET ASTRO PROPS
const {

title,

} = Astro.props

---

<section>
    <div class="relative flex py-4 items-center">
        <div class="flex-grow ml-4 border-black border-t-2"></div>
        <HeadingTwo>{ title }</HeadingTwo>
        <div class="flex-grow mr-4 border-black border-t-2"></div>
    </div>
    
    <div class="grid grid-cols-2 lg:grid-cols-4 mt-10 mb-20">
        <InstagramPost
            alternative_text=""
            href=""
            source="/images/follow-us1.jpg"
        />
        <InstagramPost
            alternative_text=""
            href=""
            source="/images/follow-us2.jpg"
        />
        <InstagramPost
            alternative_text=""
            href=""
            source="/images/follow-us3.jpg"
        />
        <InstagramPost
            alternative_text=""
            href=""
            source="/images/follow-us4.jpg"
        />
        <div>
            <i class="fa-brands fa-instagram text-xl"></i>&nbsp;&nbsp;<a href="" class="hover:text-red-400 text-gray-800 text-sm">@livezoku</a>
        </div>
    </div>
</section>
