---

// IMPORT ASTRO ATOMS
import Paragraph from "@/atoms/paragraph/xl/center/index.astro"
import HeadingOne from "@/atoms/headings/one/index.astro"

// GET ASTRO PROPS
const {

    description,
    sub_title,
    title,

} = Astro.props

---

<section class="space-y-8 mx-5 px-10 py-12">
    <HeadingOne>{ title }</HeadingOne>
    <Paragraph>{ sub_title }</Paragraph>
    <Paragraph>{ description }</Paragraph>
</section>
