---

// IMPORT ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORT ASTRO ATOMS
import ParagraphBaseCenter from "@/atoms/paragraph/base/center/index.astro"
import HeadingOne4xlThinCenter from "@/atoms/headings/one/4xl/thin/center/index.astro"

// GET ASTRO PROPS
const {

    description,
    sub_title,
    title,

} = Astro.props

---

<section class="py-12">
    <Container>
        <div class="space-y-8">
            <div class="relative group pb-4">
                <HeadingOne4xlThinCenter>{ title }
                    <span class="flex justify-center">
                        <span class="absolute border-b-2 border-black w-32 md:w-80 mt-4"></span>
                    </span>
                </HeadingOne4xlThinCenter>
            </div>
            <ParagraphBaseCenter>{ sub_title }</ParagraphBaseCenter>
            <div class="md:px-10 lg:px-20 xl:px-30 2xl:px-60">
                <ParagraphBaseCenter>{ description }</ParagraphBaseCenter>
            </div>
        </div>
    </Container>
</section>
