---

// IMPORT ASTRO ATOMS
import Paragraph from "@/atoms/paragraph/xl/center/index.astro"
import HeadingOne from "@/atoms/headings/one/index.astro"

// GET ASTRO PROPS
const {

    description,
    sub_title,
    title,

} = Astro.props

---

<<<<<<< HEAD
<!-- <br><br><br><br><br><br><br><br><br> -->
<section class="mx-5 px-10 py-12">
    <Heading1>{ title }</Heading1>
    <br><br> 
    <Paragraph>{ description1 }</Paragraph>
    <br><br>
    <Paragraph>{ description2 }</Paragraph>
=======
<section class="space-y-8 mx-5 px-10 py-12">
    <HeadingOne>{ title }</HeadingOne>
    <Paragraph>{ sub_title }</Paragraph>
    <Paragraph>{ description }</Paragraph>
>>>>>>> 4f64974d2eb3d63569369df5da1287c9083c8831
</section>
