---

// IMPORT ASTRO ATOMS
import Paragraph from "@/atoms/paragraph/index.astro"
import Heading1 from "@/atoms/heading1/index.astro"

// Get Astro Props
const {

    title,
    description1,
    description2,

} = Astro.props

---

<section class="mx-5 px-10 py-12">
    <Heading1>{ title }</Heading1>
    <br><br> 
    <Paragraph>{ description1 }</Paragraph>
    <br><br>
    <Paragraph>{ description2 }</Paragraph>
</section>
