---

// IMPORTS ASTRO ATOMS
import ButtonDropdown from "@/atoms/buttons/dropdown/index.astro"
import HeadingFour from "@/atoms/headings/four/index.astro"
import ParagraphRegular from "@/atoms/paragraph/regular/index.astro"

// GET ASTRO PROPS
const {

    alternative_text,
    button_text,
    description1,
    description2,
    is_right,
    source,
    title,

} = Astro.props

---
<div class="grid md:grid-cols-2">
    <div class={` ${ is_right ? "md:order-last" : "" } max-h-screen max-w-xl pt-4 `}>
        <img
            alt={ alternative_text }
            class="w-full h-full"
            src={ source }
        />
    </div>
    <div class="ml-10 space-y-4 mb-20 p-4">
        <HeadingFour>{ title }</HeadingFour>
        <ParagraphRegular>{ description1 }</ParagraphRegular>
        <ParagraphRegular>{ description2 }</ParagraphRegular>
        <ButtonDropdown>{ button_text }<i class="fa-solid fa-caret-down p-2"></i></ButtonDropdown>
    </div>
</div>
